* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans",
  sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

header{
  background: #999;
  padding: 2em;
}

form{
  display: flex;
  flex-direction: column;
}

main {
  padding: 2em;
}

input, button{
  width: 80%;
  margin: 0 auto;
  height: 2.2em;
}

button{
  margin-top: 1em;
  background-color: rgb(218, 218, 218);
}